html, body {
    height: 100%;
    font-family: Poppins;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: #FCDDB0;
}

h1{
    text-align: center;
    color: #E97777;
}

input{
    display: block;
    margin: 10px;
    width: 700px;
    font-family: Poppins;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #E97777;
    border: none;
    color: white;
}

#btn{
    width: 720px;
    cursor: pointer;
    transition: 0.2s ease;

}
#btn:hover{
    background-color: #FF9F9F;
}

h3{
    text-align: center;
    
    padding: 10px;
    width: 200px;
    color: #E97777;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: 0.2s ease;
}

.results{
    width: 720px;
    border: solid 5px #E97777;
    margin: auto;
    border-radius: 5px;
}

label{
    padding-left: 10px;
    color: #E97777;
}


