html, body {
    height: 100%;
    font-family: Poppins;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}


input{
    display: block;
    width: 700px;
    height: 30px;
    margin: 20px;
    padding: 10px;
    border: none;
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
    color: white;
    font-family: Poppins;
    
    
}

#btn{
    display: inline;
    text-align: center;
    width: 340px;
    height: 50px;
    transition: 0.2s ease;
    cursor: pointer;
    border: solid 2px rgb(29, 29, 29);
    font-weight: 400;
}

#btn:hover{
    background-color: white;
    border: solid 2px rgb(29, 29, 29);
    color: rgb(29, 29, 29);
}

#btn2{
    display: inline;
    text-align: center;
    width: 340px;
    height: 50px;
    transition: 0.2s ease;
    cursor: pointer;
    background-color: white;
    border: solid 2px rgb(29, 29, 29);
    color: rgb(29, 29, 29);
    font-weight: 600;
    transition: 0.2s ease;
}

#btn2:hover{
    background-color: rgb(29, 29, 29);
    color: white;
    font-weight: 400;
}
h1{
    text-align: center;
}




/* // center align a text with background?