/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 1 nov. 2022, 16:00:08
    Author     : hp
*/
h1 {
     font-size: 20px;
     color: blue;
     font-family: verdana;
     text-align: center;
    
 }



