*{
    margin: 0;
    padding: 0;
}

body{
    height: 500vh;
    background-color: black;
}

#barre{
    height: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-radius: 0px 50px 50px 0px;
    background: linear-gradient(to right, #f12711, #f5af19);
    box-shadow: 0px 0px 10px #f12711;
}